.tag {
  display: inline-block;
  width: auto;
  height: 38px;
  background-color: #d3ac2b;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #d3ac2b;
  margin-left: 19px;
  position: relative;
  color: black;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 38px;
  padding: 0 10px 0 10px;
}

.tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #d3ac2b;
}

.tag:after {
  content: "";
  background-color: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-img {
  width: 70%;
  height: auto;
  margin: auto;
  padding-top: 30px;
}
